<div class="row">
	<div id="contactContainer" class="col-lg-7 center">
		<img src="assets/img/title_logo.png">
		<h1> S I Q U E I R O S <span class="trademark">TM<span></h1>
		<img src="assets/img/title_line.png">
		<h3>Háganos sus</h3>
		<h2>P R E G U N T A S</h2>
		<div class="col-lg-6">
			<br>
			<span class="icon icon-phone"></span><span> +506 8888-8888 </span><br/>
			<span class="icon icon-mobile"></span><span> +506 8328 0431 </span><br/>
			<span class="icon icon-envelop"></span> <a href="#"> es.siqueiros@gmail.com</a> <br/>
			<span class="icon icon-facebook"></span> <a href="#"> Siqueiros</a> <br/>
		</div>
		<div class="col-lg-6">
			<form class="form-horizontal" role="form">
			  	<div class="form-group">
			      <input type="email" class="form-control" id="inputEmail" placeholder="Correo">
			      <br>
			      <input type="text" class="form-control" id="inputName" placeholder="Nombre">
			      <br>
			      <textarea type="textfield" class="form-control" id="inputText" placeholder="Consulta"></textarea>
			      <br>
			      <button class="btn btn-success" id="formSend">Enviar</button>
			    </div>
		   </form><!-- form -->
		  <label class="hidden alert alert-danger" id="formError">Mensaje No Enviado, Intentelo de Nuevo</label> 
		  <label class="hidden alert alert-success" id="formSuccess">Mensaje Enviado</label>
		</div>
	</div><!-- col -->
</div><!-- row -->