<div class="upperLogo">
  <img src="assets/img/title_logo.png">
  <h1> S I Q U E I R O S <span>TM<span></h1>
</div>
<div class="upperTitle">
  <h2>Colecciones</h2>
  <img src="assets/img/title_line.png">
  <h1>2015</h1>
</div>
<div id="collectionsContainer" class="container">
  <div class="row center">
    <div class="col-lg-5 collection1">
      <p>Párrafo de la colección X</p>
    </div>
    <div class="col-lg-7 collection2">
      <p>Párrafo de la colección X</p>
    </div>
  </div>
  <div class="row center">
    <div class="col-lg-7 collection3">
      <p>Párrafo de la colección X</p>
    </div>
    <div class="col-lg-5 collection4">
      <p>Párrafo de la colección X</p>
    </div>
  </div>
</div><!-- container -->